In [4]:
!pip3 install flask-migrate

Collecting flask-migrate
  Using cached Flask_Migrate-4.1.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: Flask>=0.9 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from flask-migrate) (3.0.3)
Requirement already satisfied: Flask-SQLAlchemy>=1.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from flask-migrate) (3.1.1)
Collecting alembic>=1.9.0 (from flask-migrate)
  Using cached alembic-1.15.2-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from alembic>=1.9.0->flask-migrate) (2.0.40)
Collecting Mako (from alembic>=1.9.0->flask-migrate)
  Using cached mako-1.3.10-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: typing-extensions>=4.12 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from alembic>=1.9.0->flask-migrate) (4.13.2)
Requirement already satisfied: Werkzeug>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from Flask>=0.9->flask-migrate) (3.0.6)
Requirement already satisfied: Jinja2>=3.1.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from Flask>=0.9->flask-migrate) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from Flask>=0.9->flask-migrate) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from Flask>=0.9->flask-migrate) (8.1.8)
Requirement already satisfied: blinker>=1.6.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from Flask>=0.9->flask-migrate) (1.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from Jinja2>=3.1.2->Flask>=0.9->flask-migrate) (3.0.2)
Using cached Flask_Migrate-4.1.0-py3-none-any.whl (21 kB)
Using cached alembic-1.15.2-py3-none-any.whl (231 kB)
Using cached mako-1.3.10-py3-none-any.whl (78 kB)
Installing collected packages: Mako, alembic, flask-migrate
Successfully installed Mako-1.3.10 alembic-1.15.2 flask-migrate-4.1.0

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python3.13 -m pip install --upgrade pip

In [5]:
import sys
import os

# Path to your app root so imports work
sys.path.append(os.path.abspath('.'))

from app.extensions import db
from app.core.models import EventTeamRequirement, Event

In [6]:
from app import create_app
app = create_app()

# Set up the app context for DB access
app.app_context().push()

In [7]:
db.session.query(EventTeamRequirement).count()

32

In [8]:
for e in db.session.query(Event).order_by(Event.date.desc()).limit(5):
    print(f"{e.id}: {e.name} on {e.date.date()}")

2: e2 on 2025-05-10
1: u on 2025-05-10

In [9]:
import pandas as pd
from sqlalchemy import create_engine

# Connect to the SQLite database
engine = create_engine('sqlite:///instance/church.db')

# Example query: Get all volunteers
query = "SELECT * FROM Volunteer"
df = pd.read_sql_query(query, engine)

# Display the data
df.head()

OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
import os
os.listdir("instance")  # See if church.db is visible

FileNotFoundError: [Errno 2] No such file or directory: 'instance'

In [12]:
from sqlalchemy import create_engine
import pandas as pd

# Replace with your actual path
db_path = "/Users/developer/Projects/church_scheduler_app/instance/church.db"

# Connect
engine = create_engine(f"sqlite:///{db_path}")

# Try a query
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", engine)

                      name
0                volunteer
1                     team
2           volunteer_team
3                     role
4      volunteer_team_role
5          alembic_version
6           event_template
7   event_team_requirement
8                    event
9                team_role
10      template_team_role
11    volunteer_assignment
12  volunteer_availability

In [29]:
query = """
SELECT 
    m.name AS table_name,
    p.name AS column_name,
    p.type AS data_type,
    p.[notnull] AS not_null,
    p.[dflt_value] AS default_value,
    p.[pk] AS primary_key
FROM sqlite_master m
JOIN pragma_table_info(m.name) p
WHERE m.type = 'table'
ORDER BY m.name, p.cid
"""

schema_df = pd.read_sql_query(query, engine)
schema_df

,table_name,column_name,data_type,not_null,default_value,primary_key
0,alembic_version,version_num,VARCHAR(32),1,None,1
1,event,id,INTEGER,1,None,1
2,event,name,VARCHAR(100),1,None,0
3,event,date,DATETIME,1,None,0
4,event,description,TEXT,0,None,0
5,event,event_type,VARCHAR(50),1,None,0
6,event,template_id,INTEGER,0,None,0
7,event,availability_locked,BOOLEAN,0,None,0
8,event_team_requirement,id,INTEGER,1,None,1
9,event_team_requirement,event_id,INTEGER,1,None,0
10,event_team_requirement,team_id,INTEGER,1,None,0
11,event_team_requirement,role_id,INTEGER,1,None,0
12,event_template,id,INTEGER,1,None,1
13,event_template,name,VARCHAR(100),1,None,0
14,event_template,description,TEXT,0,None,0
15,role,id,INTEGER,1,None,1
16,role,name,VARCHAR(100),1,None,0
17,role,is_lead,BOOLEAN,0,None,0
18,song,id,INTEGER,1,None,1
19,song,name,VARCHAR(200),1,None,0
20,song,artist,VARCHAR(200),1,None,0
21,song,key_male,VARCHAR(20),0,None,0
22,song,key_female,VARCHAR(20),0,None,0
23,song,tempo,VARCHAR(50),0,None,0
24,song,time_signature,VARCHAR(10),0,None,0
25,song,notes,TEXT,0,None,0
26,song,youtube_link,VARCHAR(300),0,None,0
27,team,id,INTEGER,1,None,1
28,team,name,VARCHAR(100),1,None,0
29,team_role,id,INTEGER,1,None,1
30,team_role,team_id,INTEGER,0,None,0
31,team_role,role_id,INTEGER,0,None,0
32,team_role,template_id,INTEGER,0,None,0
33,template_team_role,id,INTEGER,1,None,1
34,template_team_role,template_id,INTEGER,1,None,0
35,template_team_role,team_id,INTEGER,1,None,0
36,template_team_role,role_id,INTEGER,1,None,0
37,volunteer,id,INTEGER,1,None,1
38,volunteer,name,VARCHAR(100),1,None,0
39,volunteer,email,VARCHAR(100),0,None,0
40,volunteer,phone,VARCHAR(20),0,None,0
41,volunteer,password_hash,VARCHAR(128),0,None,0
42,volunteer,is_admin,BOOLEAN,0,None,0
43,volunteer_assignment,id,INTEGER,1,None,1
44,volunteer_assignment,volunteer_id,INTEGER,1,None,0
45,volunteer_assignment,event_id,INTEGER,1,None,0
46,volunteer_assignment,team_id,INTEGER,1,None,0
47,volunteer_assignment,role_id,INTEGER,1,None,0
48,volunteer_availability,id,INTEGER,1,None,1
49,volunteer_availability,volunteer_id,INTEGER,1,None,0
50,volunteer_availability,event_id,INTEGER,1,None,0
51,volunteer_availability,team_id,INTEGER,1,None,0
52,volunteer_availability,status,VARCHAR(10),1,None,0
53,volunteer_team,volunteer_id,INTEGER,0,None,0
54,volunteer_team,team_id,INTEGER,0,None,0
55,volunteer_team_role,id,INTEGER,1,None,1
56,volunteer_team_role,volunteer_id,INTEGER,0,None,0
57,volunteer_team_role,team_id,INTEGER,0,None,0
58,volunteer_team_role,role_id,INTEGER,0,None,0
59,volunteer_team_role,is_lead,BOOLEAN,0,None,0

In [30]:
from sqlalchemy import text

# First, get schema info
schema_query = """
SELECT 
    m.name AS table_name,
    p.name AS column_name,
    p.type AS data_type,
    p.[notnull] AS not_null,
    p.[dflt_value] AS default_value,
    p.[pk] AS primary_key
FROM sqlite_master m
JOIN pragma_table_info(m.name) p
WHERE m.type = 'table'
ORDER BY m.name, p.cid
"""

schema_df = pd.read_sql_query(schema_query, engine)

# Then, get row counts per table
tables = schema_df['table_name'].unique()
row_counts = {
    table: pd.read_sql_query(f"SELECT COUNT(*) AS count FROM {table}", engine).iloc[0]['count']
    for table in tables
}

# Merge row counts into schema DataFrame
schema_df['row_count'] = schema_df['table_name'].map(row_counts)

schema_df

,table_name,column_name,data_type,not_null,default_value,primary_key,row_count
0,alembic_version,version_num,VARCHAR(32),1,None,1,1
1,event,id,INTEGER,1,None,1,17
2,event,name,VARCHAR(100),1,None,0,17
3,event,date,DATETIME,1,None,0,17
4,event,description,TEXT,0,None,0,17
5,event,event_type,VARCHAR(50),1,None,0,17
6,event,template_id,INTEGER,0,None,0,17
7,event,availability_locked,BOOLEAN,0,None,0,17
8,event_team_requirement,id,INTEGER,1,None,1,218
9,event_team_requirement,event_id,INTEGER,1,None,0,218
10,event_team_requirement,team_id,INTEGER,1,None,0,218
11,event_team_requirement,role_id,INTEGER,1,None,0,218
12,event_template,id,INTEGER,1,None,1,3
13,event_template,name,VARCHAR(100),1,None,0,3
14,event_template,description,TEXT,0,None,0,3
15,role,id,INTEGER,1,None,1,14
16,role,name,VARCHAR(100),1,None,0,14
17,role,is_lead,BOOLEAN,0,None,0,14
18,song,id,INTEGER,1,None,1,0
19,song,name,VARCHAR(200),1,None,0,0
20,song,artist,VARCHAR(200),1,None,0,0
21,song,key_male,VARCHAR(20),0,None,0,0
22,song,key_female,VARCHAR(20),0,None,0,0
23,song,tempo,VARCHAR(50),0,None,0,0
24,song,time_signature,VARCHAR(10),0,None,0,0
25,song,notes,TEXT,0,None,0,0
26,song,youtube_link,VARCHAR(300),0,None,0,0
27,team,id,INTEGER,1,None,1,2
28,team,name,VARCHAR(100),1,None,0,2
29,team_role,id,INTEGER,1,None,1,14
30,team_role,team_id,INTEGER,0,None,0,14
31,team_role,role_id,INTEGER,0,None,0,14
32,team_role,template_id,INTEGER,0,None,0,14
33,template_team_role,id,INTEGER,1,None,1,35
34,template_team_role,template_id,INTEGER,1,None,0,35
35,template_team_role,team_id,INTEGER,1,None,0,35
36,template_team_role,role_id,INTEGER,1,None,0,35
37,volunteer,id,INTEGER,1,None,1,9
38,volunteer,name,VARCHAR(100),1,None,0,9
39,volunteer,email,VARCHAR(100),0,None,0,9
40,volunteer,phone,VARCHAR(20),0,None,0,9
41,volunteer,password_hash,VARCHAR(128),0,None,0,9
42,volunteer,is_admin,BOOLEAN,0,None,0,9
43,volunteer_assignment,id,INTEGER,1,None,1,6
44,volunteer_assignment,volunteer_id,INTEGER,1,None,0,6
45,volunteer_assignment,event_id,INTEGER,1,None,0,6
46,volunteer_assignment,team_id,INTEGER,1,None,0,6
47,volunteer_assignment,role_id,INTEGER,1,None,0,6
48,volunteer_availability,id,INTEGER,1,None,1,10
49,volunteer_availability,volunteer_id,INTEGER,1,None,0,10
50,volunteer_availability,event_id,INTEGER,1,None,0,10
51,volunteer_availability,team_id,INTEGER,1,None,0,10
52,volunteer_availability,status,VARCHAR(10),1,None,0,10
53,volunteer_team,volunteer_id,INTEGER,0,None,0,1
54,volunteer_team,team_id,INTEGER,0,None,0,1
55,volunteer_team_role,id,INTEGER,1,None,1,27
56,volunteer_team_role,volunteer_id,INTEGER,0,None,0,27
57,volunteer_team_role,team_id,INTEGER,0,None,0,27
58,volunteer_team_role,role_id,INTEGER,0,None,0,27
59,volunteer_team_role,is_lead,BOOLEAN,0,None,0,27

In [28]:
from sqlalchemy import text

# First, get schema info
schema_query = """
SELECT 
    m.name AS table_name,
    p.name AS column_name,
    p.type AS data_type,
    p.[notnull] AS not_null,
    p.[dflt_value] AS default_value,
    p.[pk] AS primary_key
FROM sqlite_master m
JOIN pragma_table_info(m.name) p
WHERE m.type = 'table'
ORDER BY m.name, p.cid
"""

schema_df = pd.read_sql_query(schema_query, engine)

# Then, get row counts per table
tables = schema_df['table_name'].unique()
row_counts = {
    table: pd.read_sql_query(f"SELECT COUNT(*) AS count FROM {table}", engine).iloc[0]['count']
    for table in tables
}

# Merge row counts into schema DataFrame
schema_df['row_count'] = schema_df['table_name'].map(row_counts)

In [27]:
schema_df.to_csv("/Users/developer/Documents/db_schema_with_counts.csv", index=False)